Minimize structure
&cntrl
    imin=1, maxcyc=50000, ntmin=0,
    cut=10.0, drms=0.001, nsnb=10, ntc=1, ntf=1,
    ntr=1, restraint_wt={{ data.force }}, restraintmask=':{{ data.res0 }}-{{ data.ions1 }}',
/
END