Conjugate Gradient Minimization of Solvent
&cntrl
    imin=1, maxcyc=5000, ntmin=0, drms=0.25,
    cut=10.0, nsnb=10, ntc=1, ntf=1,
    ibelly=1, bellymask=':{{ data.solvent0 }}-{{ data.solvent1 }}',
/
END
