Steepest Descent Minimization of Protein
&cntrl
    imin=1, maxcyc=500, ntmin=2,
    cut=10.0, nsnb=10, ntc=1, ntf=1,
    ntr=1, restraint_wt={{ data.force }}, restraintmask=':{{ data.res0 }}-{{ data.ions1 }}',
/
END
