Production run for data collection
&cntrl
    imin=0, irest=1, ntx=5, nmropt=0,
    ntt=0, tempi={{ data.temp2 }} ,temp0={{ data.temp2 }}, tautp=1.0,
    ntb=1, ntc=2, ntf=2, tol=0.000001,
    nstlim=500000000, dt=0.002,
    ntpr=1000, ntwr=1000, ntwx=50000,
    cut=8.0, iwrap=1,
/
&ewald
    dsum_tol=0.000001,
/
END
